<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <title>Zapp</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <div class="page">
    <div class="header">
      <div class="container">
        <a href="/">
          <h1>Zapp</h1>
          <img src="/img/zapp-logo.png" alt="Zapp logo" height="60" width="60">
        </a>
      </div>
    </div>
    <div class="container {{@exphbs.view}}-view">
      {{{body}}}
    </div>
    <div class="footer container">
      <a href="https://www.gov.uk/government/organisations/department-for-business-energy-and-industrial-strategy">
        <img src="/img/beis-logo.jpg" alt="BEIS logo" height="80">
      </a>
    </div>
  </div>
</body>

</html>
