<h4>
  Welcome to Zapp, the tool that helps your office save money on energy! Just click the button below to install the beta version:
</h4>
<div>
  <a class="download-button btn btn-primary" href="/Releases/ZappSetup.exe">
    <i class="fas fa-download"></i> Download</a>
</div>
<div>
    <p>
    <i>You may need to add this as an exception to your anti-virus software in order to release the download.</i>
  </p>
  <p>
   You may also want to <a class="download-button" href="/Releases/ZappSetup.exe">download the user manual</a>.
  </p>
</div>
<p class="contact">
  If you have any questions, or need support to install, please get in contact by emailing
  <a href="mailto:vina.krishnarajah@beis.gov.uk">vina.krishnarajah@beis.gov.uk</a>.
</p>
