<h4>
  Welcome to Zapp, the tool that helps your office save money on energy! Just click the button below to install the beta version:
</h4>
<div>
  <a class="download-button btn btn-primary" href="/Releases/ZappSetup.exe">
    <i class="fas fa-download"></i> Download</a>
</div>
<div>
  <p>
    <em>To install during the Beta phase, you may need to add this as an exception to your anti-virus software.</em>
  </p>
</div>
<div class="contact">
  <p>
    If you have any questions, please
    <a class="download-button" href="/resources/Zapp_User_Guide.pdf" target="_blank">download the user manual</a>.
  </p>
  <p>
    If you need any more help, please contact
    <a href="mailto:vina.krishnarajah@beis.gov.uk">vina.krishnarajah@beis.gov.uk</a>.
  </p>
</div>
