h1 {
    font-size: 60px;
}

p {
    margin: 0;
}

p + p {
    margin-top: 1rem;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #EF103C;
    color: white;
    padding: 30px;
    margin-bottom: 60px;
}

.header > .container {
    display: flex;
}

.download-button {
    margin: 1rem 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: 20px;
}
