h1 {
    font-size: 60px;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #EF103C;
    color: white;
    padding: 30px;
    margin-bottom: 60px;
}

.header > .container {
    display: flex;
}

.intro {
    max-width: 1000px;
}

.link {
    margin: 30px 0;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: 20px;
}
