body {
    margin: 50px 300px;
}

h1 {
    font-size: 60px;
}

.header {
    display: flex;
    background-color: #EF103C;
    color: white;
    padding: 30px;
    margin-bottom: 60px;
}

.content {
    margin: 0 40px;
}
.intro {
    max-width: 1000px;
}

.link {
    margin: 30px 0;
    font-weight: bold;
}

.footer {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
